<h1>Flats</h1>

<div class="container">
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <div class="card-image" style="background-image: url('http://unsplash.it/200/200')"></div>
          <div class="card-infos">
            <h2 class="card-name"><%= flat.name.capitalize %></h2>
            <p class="card-desc"><%= flat.address %></p>
            <div class="stats">
              <p class="card-persons"><i class="material-icons mr-2">people</i><%= flat.price_per_night %></p>
              <p class="card-price"><i class="material-icons mr-2">euro_symbol</i><%= flat.number_of_guests %></p>
            </div>
          </div>
          <div class="card-actions">
            <ul class="actions list-inline">
              <li><%= link_to "More info" %></li>
              <li><%= link_to "Edit" %></li>
              <li><%= link_to "Remove" %></li>
            </ul>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>



